.navContainer {
  display: flex;
  width: 100%;
  max-width: 1024px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: teal;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 10px;
}

.logo {
  font-size: 32px;
  color: white;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 28px;
  flex: 1;
}

.userLogo {
  flex: 1;
}
